<!DOCTYPE html>
<head>
	<title>Python Programming Tutorials</title>
	<link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
</head>
<body>
	Post Reviews (BUISNESS ID)
	Generate Accounts (VERIFY EMAILS WITH API, PASSWORD)
	Accounts (SHOWS ALL ACCOUNTS IN A TABLE)
	Proxies (SHOWS ALL PROXIES IN A TABLE)

<div class="panel panel-default">
  <div class="panel-body">A Basic Panel</div>
</div>

<div class="form-group">
	<input type="text" class="form-control" placeholder="Buisness id">
</div>

<button type="button" class="btn btn-primary">Post Reviews</button>

</body>
</html>